.env
__pycache__/
*.pyc
db.sqlite3
Pipfile
Pipfile.lock
.vscode
.idea
/static/

#Ignore all files inside migrations folder except __init__.py

/posts/migrations/
!/posts/migrations/__init__.py

/core/migrations/
!/core/migrations/__init__.py


