@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: serif; */
}

/* Article CSS */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px;
}

.container a {
  color: #202225;
}

.card {
  height: 420px;
  width: 280px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card-body .article-content {
  font-size: 14px;
  margin: 10px 0;
  height: 80px;
  padding: 0 8px;
}

.card-body span {
  font-size: 12px;
  background: #0d9488;
  padding: 3px 15px;
  margin: 0 4px;
  border-radius: 1rem;
  color: #fff;
}

.card-body h4 {
  margin-top: 10px;
  padding: 0 8px;
}

.card-header img {
  margin-bottom: 8px;
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.user {
  display: flex;
  height: 50px;
  /* border: 1px solid black; */
  align-items: center;
  gap: 8px;
  padding: 0 4px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* navbar CSS */

nav {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #202225;
  border-bottom: 1px solid #3a3a3a;
}

nav a {
  color: #fff;
}

.home-page-link {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  font-size: 25px;
}

/* auth page */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-login #auth-card {
  margin-top: 1rem;
  padding: 1rem 0;
}

.auth-login {
  height: 80vh;
}
.auth-signup {
  height: 100vh;
  padding-bottom: 2rem;
}

.label-image {
  margin-top: 1rem;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none;
}

label {
  font-size: 11pt;
}
#forgot-pass {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#auth-card {
  border-radius: 8px;
  max-height: 800px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  width: 450px;
}

@media only screen and (max-width: 768px) {
  #auth-card {
    width: 100%;
    max-width: 330px;
    box-shadow: none;
  }
}

#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}
.form {
  display: flex;
  align-items: left;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
}
.form-content {
  /* background: #fbfbfb; */
  border: none;
  outline: none;
  padding-top: 10px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: 4px auto auto auto;
  width: 130px;
}

/* Blog Detail Page */
.detial-continer .title {
  margin-top: 1rem;
  font-size: 60px;
  margin-bottom: 2rem;
  font-family: serif;
}

.blog-image {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  padding: 10px 100px;
}

.blog-image img {
  min-width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.detail-content {
  padding: 10px 100px;
}
.detail-header {
  color: #ccc;
  padding: 20px 100px 100px 100px;
  background-color: #202225;
}

@media only screen and (max-width: 600px) {
  .detial-continer .title {
    font-size: 25px;
    text-align: center;
  }
  .detail-content {
    padding: 8px;
  }
  .blog-image {
    padding: 4px;
  }

  .detail-header {
    padding: 4px 6px 50px 6px;
  }
}

.detail-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #7a7a7a;
}

.detail-info h4 {
  font-weight: lighter;
}

.detail-author {
  margin: 0 1.5rem 0 5px;
}

.read-time {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

/* Footer */

footer {
  min-height: 300px;
  width: 100%;
  background-color: #202225;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  color: #c9c6c6;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 10px;
    justify-content: center;
  }
}

footer p {
  font-family: serif;
  text-align: center;
  font-size: 30px;
  color: #ccc;
}

.explore-work {
  width: 300px;
  text-align: center;
  margin-top: auto;
}

.copy-right {
  background-color: #202225;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  border-top: 1px solid #434343;
  text-align: center;
  color: #afafaf;
}

.about span {
  font-size: 18px;
  color: #0d9488;
  cursor: pointer;
}

.about div {
  font-size: 16px;
  max-width: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.connect-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 1rem;
  margin-top: 10px;
}
