/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Article CSS */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px;
  margin-top: 1.5rem;
}

.container a {
  color: #202225;
}

.card {
  height: 420px;
  max-width: 280px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-1.25rem);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    box-shadow: none;
    max-width: none;
  }
}

.card-body .article-content {
  font-size: 14px;
  margin: 10px 0;
  height: 80px;
  padding: 0 8px;
}

.card-body span {
  font-size: 12px;
  background: #0d9488;
  padding: 3px 15px;
  margin: 0 4px;
  border-radius: 1rem;
  color: #fff;
}

.card-body h4 {
  margin-top: 10px;
  padding: 0 8px;
}

.card-header img {
  margin-bottom: 8px;
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 600px) {
  .card-header img {
    border-radius: 0;
    border-radius: 10px;
  }
}

.user {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Navbar CSS */
nav {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  background-color: #202225;
  border-bottom: 1px solid #3a3a3a;
}

nav a {
  color: #fff;
  margin-left: 1rem;
}

.home-page-link {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 4rem;
  width: 10rem;
  mix-blend-mode: lighten;
  object-fit: contain;
}

/* Auth Page */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-login #auth-card {
  margin-top: 1rem;
  padding: 1rem 0;
}

.auth-login {
  height: 80vh;
}

.auth-signup {
  height: 100vh;
  padding-bottom: 2rem;
}

.label-image {
  margin-top: 1rem;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none;
}

label {
  font-size: 11pt;
}

#forgot-pass {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

#auth-card {
  border-radius: 8px;
  max-height: 600px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  width: 450px;
}

@media only screen and (max-width: 768px) {
  #auth-card {
    width: 100%;
    max-width: 330px;
    box-shadow: none;
  }
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

.form {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
}

.form-content {
  /* background: #fbfbfb; */
  border: none;
  outline: none;
  padding-top: 10px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: 4px auto auto auto;
  width: 130px;
}

#auth-card #id_image {
  display: none;
}

/* Article Detail Page */
.detial-continer .title {
  margin-top: 1rem;
  font-size: 60px;
  margin-bottom: 2rem;
  font-family: serif;
}

.article-image {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  padding: 10px 100px;
}

.article-image img {
  min-width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.detail-content {
  padding: 10px 100px;
}

.detail-header {
  color: #ccc;
  padding: 20px 100px 100px 100px;
  background-color: #202225;
}

@media only screen and (max-width: 600px) {
  .detial-continer .title {
    font-size: 25px;
    text-align: center;
  }
  .detail-content {
    padding: 8px;
  }
  .article-image {
    padding: 4px;
  }

  .detail-header {
    padding: 4px 6px 50px 6px;
  }
}

.detail-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #7a7a7a;
}

.detail-info h4 {
  font-weight: lighter;
}

.detail-author {
  margin: 0 1.5rem 0 5px;
}

.read-time {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

/* Footer */
footer {
  margin-top: 2rem;
  min-height: 300px;
  width: 100%;
  background-color: #202225;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  color: #c9c6c6;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 10px;
  }
}

footer p {
  font-family: serif;
  text-align: center;
  font-size: 30px;
  color: #ccc;
}

.service {
  width: 300px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .service {
    width: 100%;
    margin-top: 1rem;
  }
}

.service ul li {
  text-align: center;
  list-style: none;
  margin-top: 8px;
}

.copy-right {
  background-color: #202225;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  border-top: 1px solid #434343;
  text-align: center;
  color: #afafaf;
}

.portfolio-link {
  font-size: 18px;
  color: #0d9488;
  cursor: pointer;
}

.about div {
  font-size: 16px;
  max-width: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.connect-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 1rem;
  margin-top: 10px;
  justify-content: center;
}

.contact {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 100%;
  }
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-article {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}

.write-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 26px;
  height: 23px;
  border: 0.5px solid #8d8c8c;
  border-radius: 4px;
}

.search-article {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search {
  border: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 250px;
  outline: none;
  padding: 12px;
  background-color: #3d3d3d;
  font-size: 15px;
  color: #a0a0a0;
}

.search::placeholder {
  color: #a0a0a0;
  font-size: 15px;
}

.signup {
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #38466e;
}

.article-create {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.article-create form {
  display: grid;
  gap: 20px;
}

.save-article {
  cursor: pointer;
  width: 100%;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #0d7a71;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.save-article:hover {
  background-color: #0d9488;
  transition-duration: 0.5s;
}

.article-create #id_title {
  border: none;
  border-bottom: 0.5px solid #999999;
  padding: 5px 1px;
  outline: none;
}

.article-create #id_image {
  display: none;
}

.article-create label[for="id_image"] {
  padding: 12px;
  color: #e8e8e8;
  font-weight: bold;
  background-color: #38466e;
  border-radius: 5px;
  cursor: pointer;
}

.article-create #id_title::placeholder {
  font-size: 18px;
}

.article-create select {
  border-radius: 5px;
  border: 0.5px solid #999999;
  padding: 10px 8px;
  outline: none;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-form button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 50px;
  outline: none;
  padding: 10px;
  background-color: #3d3d3d;
  font-size: 15px;
  color: #0d9488;
  cursor: pointer;
}
