{% load static %}

<div class="article-container">
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
  <div class="article">
    <img class="article-image" src="{% static 'images/image.png' %}" alt="" />
    <p class="category">Sport</p>
    <p class="title">Football</p>
    <p class="article-paragraph">
      Football is one of biggest fan have sport Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Inventore, maxime.
    </p>
    <p class="read-now">Read Now</p>
  </div>
</div>
