{% extends "main.html" %} {% block title %} Create Article - AdwaBlog
{%endblock%} {%block content %}
<div class="article-create">
  <a href="{% url 'home' %}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left">
      <path d="m12 19-7-7 7-7" />
      <path d="M19 12H5" />
    </svg>
  </a>
  <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %} {{form.media}} {{form.title}}
    <select name="category" id="id_category" required>
      <option value="" selected disabled>Choose a Category</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.title }}</option>
      {% endfor %}
    </select>
    <label for="id_image">
      <p class="articleImage">Choose Image</p>
    </label>
    {{form.image}} {{form.content}}

    <input class="save-article" type="submit" value="save" />
  </form>
</div>

<script>
  document
    .getElementById("id_title")
    .setAttribute("placeholder", "Enter Article Title");
  document.getElementById("id_image").addEventListener("change", function () {
    var fileName = this.files[0].name;
    document.querySelector(".articleImage").innerText = fileName;
  });
</script>

{% endblock %}
