{% extends 'main.html' %} {% block content %} {% include 'navbar.html' %}
<form method="post" class="create-blog" enctype="multipart/form-data">
  {% csrf_token %} {{ form.media }} {{ form.title }}
  <div>{{ form.read_time }}</div>
  <div class="blog-post-cont">{{ form.category }}</div>
  <div class="blog-post-cont">
    <label class="file-input" for="id_image">
      <span class="choose-file">Choose File</span>
      <span id="file-name" class="file-name">No file chosen</span>
    </label>
    {{ form.image }}
  </div>
  <div>{{ form.content }}</div>

  <button type="submit" class="blog-submit">Post Blog</button>
</form>

<script>
  document.getElementById("id_image").addEventListener("change", function () {
    var fileName = this.files[0].name;
    document.getElementById("file-name").innerText = fileName;
  });
</script>
{% include 'footer.html' %} {% endblock %}
