{% extends "main.html" %} {% block content %} {% load static %}

<div>{% load humanize %} {% include 'navbar.html' %}
</div>
<div class="detial-continer">
    <div class="detail-header">

        <h1 class="title">{{ article.title }}</h1>
        <div class="detail-info">
          <div class="user">
            <img
            src="{{ article.author.image.url }}"
            alt="user" />
          </div>
          <h4 class="detail-author">{{article.author}}</h4>
          <h4 class="read-time">
            <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18">
              <path d="M360-840v-80h240v80H360Zm80 440h80v-240h-80v240Zm40 320q-74 0-139.5-28.5T226-186q-49-49-77.5-114.5T120-440q0-74 28.5-139.5T226-694q49-49 114.5-77.5T480-800q62 0 119 20t107 58l56-56 56 56-56 56q38 50 58 107t20 119q0 74-28.5 139.5T734-186q-49 49-114.5 77.5T480-80Zm0-80q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 116 82 198t198 82Zm0-280Z" fill="#ffffff"/>
          </svg>
          
                      <span>
              {{ article.read_time }} Min. Read
            </span>
          </h4>
          <h4>{{ article.created_at|naturalday }}</h>
          </div>
        </div>
        <div class="blog-image">
          <img
          src="{{ article.image.url }}"
      alt="user" />
  </div>
  <div class="detail-content">

      {{ article.content|safe }}
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}
