{% extends "main.html" %} {% block content %} {% load static %}
<div>{% load humanize %}</div>
<div class="container">
  {% for article in articles %}
  <a href="{% url 'detail' article.slug %}">
    <div class="card">
      <div class="card-header">
        <img src="{{ article.image.url }}" alt="" />
      </div>
      <div class="card-body">
        <span class="tag tag-purple">{{ article.category }}</span>
        <h4>{{ article.title }}</h4>
        <p>{{ article.content|truncatechars:120|safe }}</p>
        <div class="user">
          <img src="{{ article.author.image.url }}" alt="user" />
          <div class="user-info">
            <h5>{{article.author}}</h5>
            <small>{{ article.created_at|naturaltime }}</small>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
